<% if logged_in? %>
  <div class="col-sm-12">
    <%= render 'articles/articles', articles: @articles %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Postfeed</h1>
    </div>
  </div>
<% end %>