<div class="text-center">
  <h1>All RSSs List</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'richsitesummaries', richsitesummaries: @richsitesummaries %>
  </div>
</div>
