<h1><%= @richsitesummary.title %></h1>
<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item">Articles</li>
    </ul>
    <%= render 'articles/articles', articles: @articles %>
  </div>
</div>